---
import { Button, Card, Collapse, Spoiler } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>A PhD student in Biomedicine</p>
  <p>Hi, I’m Han<br />
    Here are the articles that I have written or excerpted 📝<br />
    Covering various topics such as technology, life, efficiency, photography, etc.</p>
  <p>Be open to change. <Spoiler>(*´･д･)?</Spoiler></p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* education */}
  <h2 id='education'>Education</h2>
  <div class='education-cards'>
    <Card 
      class='mb-4' 
      heading='University of Macau'
      subheading='PhD in Biomedicine'
      date='August 2024 - Present'
    />
    
    <Card 
      class='mb-4' 
      heading='Shanghai Jiao Tong University'
      subheading='Master of Biological and Pharmaceutical Sciences (Food Engineering)'
      date='September 2021 - June 2024'
    />
    
    <Card 
      class='mb-4' 
      heading='Southwest University'
      subheading='Bachelor of Animal Science (Food Science Direction)'
      date='September 2017 - June 2021'
    />
  </div>
  
  <style>
    .education-cards {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }
  </style>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Iconscout',
        description: 'Find Free Icons',
        href: 'https://iconscout.com/',
        icon: import('@/assets/tools/figma.svg?raw')
      },
      {
        name: 'Lobehub',
        description: 'Find Free Icons',
        href: 'https://lobehub.com/zh/resources',
        icon: import('@/assets/tools/lobehub-color.svg?raw')
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='AI Productivity'
    tools={[
      {
        name: 'Kimi',
        description: 'Moonshot',
        href: 'https://kimi.moonshot.cn/',
        icon: import('@/assets/tools/kimi-color.svg?raw')
      },
      {
        name: 'Wenxin',
        description: 'Baidu',
        href: 'https://yiyan.baidu.com/',
        icon: import('@/assets/tools/wenxin-color.svg?raw')
      },
      {
        name: 'Grok',
        description: 'X',
        href: 'https://grok.com/',
        icon: import('@/assets/tools/grok.svg?raw')
      },
      {
        name: 'Gemini',
        description: 'Google',
        href: 'https://gemini.google.com/',
        icon: import('@/assets/tools/gemini-color.svg?raw')
      },
      {
        name: 'Qianwen',
        description: 'Alibaba',
        href: 'https://www.tongyi.com/',
        icon: import('@/assets/tools/qwen-color.svg?raw')
      },
      {
        name: 'Hunyuan',
        description: 'Tencent',
        href: 'https://hunyuan.tencent.com/',
        icon: import('@/assets/tools/hunyuan-color.svg?raw')
      },
      {
        name: 'Doubao',
        description: 'Bytedance',
        href: 'https://www.doubao.com/chat/',
        icon: import('@/assets/tools/doubao-color.svg?raw')
      },
      {
        name: 'Glm',
        description: 'Zhipuai',
        href: 'https://chatglm.cn/',
        icon: import('@/assets/tools/zhipu-color.svg?raw')
      },
      {
        name: 'Consensus',
        description: 'Read Paper',
        href: 'https://consensus.app/',
        icon: import('@/assets/tools/newspaper.svg?raw')
      }


    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Tahoe',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/hanhan124',
        text: 'followers',
        api: 'github/cworld1'
      },
      {
        platform: 'Douyin',
        icon: 'tiktok',
        color: '#ff0050',
        link: 'https://v.douyin.com/AvA09RAhfiY/ 4@8.com',
        text: 'followers'
      },
      {
        platform: 'Xiaohongshu',
        icon: 'instagram',
        color: '#ff2442',
        link: 'https://www.xiaohongshu.com/user/profile/5eac2d6e0000000001000b9b?xsec_token=YBABOPzP-4pU2wJ9rQzW8zfaW0y_r_rqLoqiVnkiDse08%3D&xsec_source=app_share&xhsshare=CopyLink&shareRedId=N0tDQzVJOk42NzUyOTgwNjY0OTc0Rz9L&apptime=1757791769&share_id=83f24763a08f4ac09eec95964151b99e&share_channel=copy_link',
        text: 'followers'
      },
      {
        platform: 'Zhihu',
        icon: 'zhihu',
        color: '#0066ff',
        link: 'https://www.zhihu.com/people/han-shuo-61-11',
        text: 'followers'
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#FB7299',
        link: 'https://b23.tv/D200vzK',
        text: 'followers'
      },
      {
        platform: 'Coolapk',
        icon: 'coolapk',
        color: '#21bdd2',
        link: 'http://www.coolapk.com/u/1085514',
        text: 'followers'
      },
      {
        platform: 'Netease Cloud Music',
        icon: 'netease',
        color: '#c20c0c',
        link: 'https://y.music.163.com/m/user?id=352934338',
        text: 'followers'
      }
    ]}  />

  {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <div class='education-cards'>
    <Card 
      class='mb-4' 
      heading='Website Refactored'
      subheading='Using Astro and Astro Theme Resume'
      date='2025-09-01'
    />
  </div>
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
